
<br>

<div class="card text-center">

  <div class="card-header header_footer">
  <h1 class="card-title">Nuevo Departamento</h1>
    <p id="notice"><%= notice %></p>
  </div>
  <div class="card-body">
    
    
    <table class="table table-bordered"><br>
      <thead>
        <tr>
          <th><%= render 'form', apartment: @apartment, buildings: @buildings %></th>
        </tr>
      </thead>

      
    </table><br><br>
    <div class="float-end"><%= link_to 'Atrás', apartments_path %></div><br>
    
    
  </div>
  <%= render "layouts/card_footer" %>
</div>